.banner {
    margin: 10px 0 20px;
    overflow: hidden;
    position: relative;
    width: 100%;

    ul {
        width: 1000%;
    }
}

.banner-item {
    float: left;
}

.dots {
    bottom: 14px;
    display: inline-block;
    left: 50%;
    margin-left: -14px;
    position: absolute;

    .dot {
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
        display: block;
        float: left;
        font-size: 0;
        height: 8px;
        margin: 0 3px;
        width: 8px;

        &.current {
            background: #aaa;
        }

    }
}