@mixin categories-item-base {
    border: none;
    cursor: pointer;
    float: left;
    margin: 0 10px 10px 0;
    height: 205px;
    overflow: hidden;
    padding: 2px;
    position: relative;
}

.o-categories-ctn {
    .title {
        cursor: pointer;
    }
}

.o-categories-ctn:not(:first-of-type) {
    margin-top: 30px;
}

.o-categories-item {
    @include categories-item-base;

    width: 115px;

    &:nth-child(4),
    &:nth-child(6n+10) {
        margin-right: 0;
    }

    .cover {
        height: 135px;
        overflow: hidden;
        position: relative;

        img {
            width: 111px;
        }
    }

    .info {
        background: #fff;
        left: 0;
        padding: 0 3px 3px;
        position: absolute;
        width: 100%;
        -webkit-transition: -webkit-transform .1s linear;

        .title {
            padding: 6px 0;
        }

        .actor,
        .episode {
            line-height: 14px;
        }

        .download {
            margin-top: 10px;
        }
    }

    &:hover {
        .info {
            -webkit-transform: translate3d(0, -30px, 0);
        }
    }
}

.o-categories-item-big {
    @include categories-item-base;

    background-size: cover;
    color: #fff;
    width: 365px;


    .info-ctn {
        border: 2px #fff solid;
        height: 100%;
        left: 0;
        padding: 15px;
        position: absolute;
        text-shadow: 0 1px 0 #000;
        top: 0;
        width: 100%;
        -webkit-box-pack: end;

        .info-text {
            .actors {
                display: inline-block;
                max-width: 260px;
            }

            .episode {
                margin-left: 15px;
                vertical-align: top;
            }
        }
    }
}
