/* Button Default */
/* Button Primary */
/* Button Danger */
/* Text colors */
/** Border Colors */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/wanxiaodou\/\*\.png}line{font-family:\00003410}}
.wanxiaodou-sprite, .o-wanxiaodou-container .o-wanxiaodou.apple, .o-wanxiaodou-container .o-wanxiaodou.babypea, .o-wanxiaodou-container .o-wanxiaodou.bigtalker, .o-wanxiaodou-container .o-wanxiaodou.businessface, .o-wanxiaodou-container .o-wanxiaodou.cheers, .o-wanxiaodou-container .o-wanxiaodou.cold, .o-wanxiaodou-container .o-wanxiaodou.crawl, .o-wanxiaodou-container .o-wanxiaodou.coolcats, .o-wanxiaodou-container .o-wanxiaodou.ecstatic, .o-wanxiaodou-container .o-wanxiaodou.foodie, .o-wanxiaodou-container .o-wanxiaodou.forfood, .o-wanxiaodou-container .o-wanxiaodou.furious, .o-wanxiaodou-container .o-wanxiaodou.googlyeyes, .o-wanxiaodou-container .o-wanxiaodou.grannypea, .o-wanxiaodou-container .o-wanxiaodou.grateful, .o-wanxiaodou-container .o-wanxiaodou.hallo, .o-wanxiaodou-container .o-wanxiaodou.hellokitty, .o-wanxiaodou-container .o-wanxiaodou.hothothot, .o-wanxiaodou-container .o-wanxiaodou.hugitout, .o-wanxiaodou-container .o-wanxiaodou.hugthecat, .o-wanxiaodou-container .o-wanxiaodou.karaokestar, .o-wanxiaodou-container .o-wanxiaodou.lookaway, .o-wanxiaodou-container .o-wanxiaodou.lookinggood, .o-wanxiaodou-container .o-wanxiaodou.loveit, .o-wanxiaodou-container .o-wanxiaodou.ohreeeeally, .o-wanxiaodou-container .o-wanxiaodou.partytime, .o-wanxiaodou-container .o-wanxiaodou.peekabo, .o-wanxiaodou-container .o-wanxiaodou.phoneoverboard, .o-wanxiaodou-container .o-wanxiaodou.reading, .o-wanxiaodou-container .o-wanxiaodou.secretive, .o-wanxiaodou-container .o-wanxiaodou.showersong, .o-wanxiaodou-container .o-wanxiaodou.showertime, .o-wanxiaodou-container .o-wanxiaodou.sleepypea, .o-wanxiaodou-container .o-wanxiaodou.smooch, .o-wanxiaodou-container .o-wanxiaodou.sogreat, .o-wanxiaodou-container .o-wanxiaodou.steaming, .o-wanxiaodou-container .o-wanxiaodou.struckbylightening, .o-wanxiaodou-container .o-wanxiaodou.strut, .o-wanxiaodou-container .o-wanxiaodou.stumped, .o-wanxiaodou-container .o-wanxiaodou.suspicious, .o-wanxiaodou-container .o-wanxiaodou.sweetpea, .o-wanxiaodou-container .o-wanxiaodou.tearsofjoy, .o-wanxiaodou-container .o-wanxiaodou.theend, .o-wanxiaodou-container .o-wanxiaodou.threekitties, .o-wanxiaodou-container .o-wanxiaodou.tickles, .o-wanxiaodou-container .o-wanxiaodou.wahaha, .o-wanxiaodou-container .o-wanxiaodou.yes {
  background: url('../images/wanxiaodou-s50ce60b314.png') no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\000034}}
.o-wanxiaodou-container {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\000037}}
.o-wanxiaodou-container .o-wanxiaodou {
  display: block;
  height: 200px;
  margin: 30px auto 10px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.apple {
  background-position: 0 -8200px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.babypea {
  background-position: 0 -1600px;
  width: 300px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.bigtalker {
  background-position: 0 -5800px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.businessface {
  background-position: 0 -1400px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.cheers {
  background-position: 0 -1000px;
  width: 300px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.cold {
  background-position: 0 -7000px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.crawl {
  background-position: 0 -6600px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.coolcats {
  background-position: 0 -200px;
  width: 300px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.ecstatic {
  background-position: 0 -5400px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.foodie {
  background-position: 0 -2000px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.forfood {
  background-position: 0 -3800px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.furious {
  background-position: 0 -400px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.googlyeyes {
  background-position: 0 -8600px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.grannypea {
  background-position: 0 -5200px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.grateful {
  background-position: 0 -6200px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.hallo {
  background-position: 0 -4800px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.hellokitty {
  background-position: 0 -3000px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.hothothot {
  background-position: 0 -4400px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.hugitout {
  background-position: 0 -8400px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.hugthecat {
  background-position: 0 -3600px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.karaokestar {
  background-position: 0 -2200px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.lookaway {
  background-position: 0 -9200px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.lookinggood {
  background-position: 0 -4000px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.loveit {
  background-position: 0 -7200px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.ohreeeeally {
  background-position: 0 -5600px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.partytime {
  background-position: 0 -2600px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.peekabo {
  background-position: 0 -9000px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.phoneoverboard {
  background-position: 0 -2400px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.reading {
  background-position: 0 -7600px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.secretive {
  background-position: 0 -8800px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.showersong {
  background-position: 0 -5000px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.showertime {
  background-position: 0 -600px;
  width: 300px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.sleepypea {
  background-position: 0 -6400px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.smooch {
  background-position: 0 -6800px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.sogreat {
  background-position: 0 -3200px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.steaming {
  background-position: 0 -4200px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.struckbylightening {
  background-position: 0 -1200px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.strut {
  background-position: 0 -7400px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.stumped {
  background-position: 0 -7800px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.suspicious {
  background-position: 0 -6000px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.sweetpea {
  background-position: 0 -2800px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.tearsofjoy {
  background-position: 0 -4600px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.theend {
  background-position: 0 -1800px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.threekitties {
  background-position: 0 0;
  width: 300px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.tickles {
  background-position: 0 -800px;
  width: 300px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.wahaha {
  background-position: 0 -8000px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000324}}
.o-wanxiaodou-container .o-wanxiaodou.yes {
  background-position: 0 -3400px;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000331}}
.o-wanxiaodou-container .o-wanxiaodou-tip {
  display: block;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/zeke\/Documents\/WandouLabsProjects\/Oscar\/app\/compass\/wanxiaodou\.scss}line{font-family:\0000335}}
.o-wanxiaodou-container .o-wanxiaodou-tip em {
  color: #b53d01;
}
