@import "../thirdparty/Adonis/sass/adonis";

.o-page-container {

    .o-pagecount-container {
        display : inline-block;

        .current {
            font-size: 16px;
            text-shadow: 0 0 1px #2f7c2f;
        }
    }
}
