@import "../thirdparty/Adonis/sass/adonis";

.o-pictures-container {
    .o-pictures-mask {
        margin: 5px 0px;
        overflow: hidden;

        .o-small-pictures-container {
            height: 100px;
            list-style: none;
            margin:0px;
            overflow: hidden;
            padding-left: 0px;

            -webkit-transition: opacity 0.3s ease-out;

            &.hide {
                opacity: 0;
            }

            .o-picture-item {

                cursor: pointer;
                display: inline-block;
                height: 100px;
                margin: 0px 5px 5px 5px;
                overflow: hidden;
                position: relative;
                width:100px;

                .horizontal {
                    height: 100px;
                }

                .vertical {
                    width : 100px;
                }
            }
        }

        .o-big-pictures-container {
            display: none;
            height: 350px;
            margin-top: -100px;
            opacity: 0;
            overflow: hidden;
            text-align: center;
            width : 445px;
            -webkit-transition: opacity 0.6s ease-out;

            &.show {
                display: block;
                opacity: 1;
            }

            .horizontal {
                height: 350px;
            }

            .vertical : {
                width: 445px;
            }
        }
    }
}
